# Ignore environment variables
.env

# Virtual Environments
venv/
.venv/
env/
ENV/
beaconvenv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Logs & Database (if we later use local SQLite)
*.log
*.db
*.sqlite3

# Ignore VS Code bullshit
.vscode/
!.vscode/extensions.json
*.code-workspace

# NeoVim / Vim bullshit
.nvim/
.nvimrc
.vimrc
*.swp
*.swo
.netrwhist
undo/
